* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  min-height: 10vh;
  min-width: 100vw;
  background-color: cadetblue;
}
main{
  background-color: aquamarine;
  height: 80vh;
  width: 100vw;
}

footer{
  height: 10vh;
  width: 100vw;
  background-color: chocolate;
}

input {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin-bottom: 20px;
    }
/*verifikacija*/
.container {
      background-color: white;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      text-align: center;
      width: 350px;
    }
    .icon {
      font-size: 50px;
      color: #0078d4;
      margin-bottom: 20px;
    }
    h2 {
      margin-bottom: 10px;
      color: #333;
    }
    p {
      margin-bottom: 30px;
      color: #555;
    }
    input[type="text"] {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin-bottom: 20px;
    }
    .resend {
      color: #0078d4;
      cursor: pointer;
      font-size: 14px;
    }
    .resend:hover {
      text-decoration: underline;
    }
    /*kraj verifikacije*/